@import "../../base/fn";

.weui_article {
    padding: 20px 15px;
    font-size: 15px;
    section {
        margin-bottom: 1.5em;
    }
    h1 {
        font-size: 17px;
        .thin;
        margin-bottom: .75em;
    }
    h2 {
        font-size: 16px;
        .thin;
        margin-bottom: .3em;
    }
    h3 {
        .thin;
        font-size: 15px;
    }
}