@import "../base/fn";

.loadmore {
    margin: 20px 0;
    font-size: 14px;
    min-height: 24px;
    .icon_loading {
        margin-right: 5px;
    }

    &.with_line {
        .tips_wrp {
            margin: 20px 20px;
            border-top: 1px solid @globalBorderColor;
        }
        .tips {
            top: -12px;
            padding: 0 16px;
            background-color: #FFFFFF;
        }
    }
}


