@import "../base/fn";

.step_list {
    .step_item {
        position: relative;
        padding-left: @stepListPaddingLeft;
        &:after {
            content: " ";
            position: absolute;
            top: 0;
            left: @stepListPaddingLeft / 2 + .5;
            height: 100%;
            border-left: 1px solid @stepListNumColor;
        }
        &:last-child:after {
            display: none;
        }
    }
    .step_num {
        position: absolute;
        left: (@stepListPaddingLeft - @stepListNumSize) / 2;
        top: 0;
        width: @stepListNumSize;
        height: @stepListNumSize;
        border: 1px solid @stepListNumColor;
        border-radius: 50%;
        background-color: @stepListNumBgColor;
        text-align: center;
        line-height: @stepListNumSize;
        color: @stepListNumColor;
        z-index: 1
    }
    .step_title {
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: @stepListNumSize + 2;
    }
}
