@import "../../base/fn";
.weui_search_bar {
    position: absolute;
    left: 0;
    top: 50px;
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #efeff4;
    z-index: 2;
    &:after {
        .setBottomLine();
    }
}
.weui_search_outer {
    position: relative;
    height: 28px;
    background-color: #efeff4;
    &.with_cancel{
        margin-right: 40px;
    }
    .weui_search_outline{
        position: absolute;
        left: 0;
        top:0;
        width: 200%;
        height: 200%;
        transform: scale(.5);
        transform-origin: 0 0;
        border-radius: 10px;
        border: 1px solid #E6E6EA;
        background: #fff;
    }
}
.weui_search_cancel {
    position: absolute;
    display: none;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: #09BB07;
}
.weui_search_inner{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    //width:99.5%;
    width:100%;
    padding-left: 30px;
    box-sizing: border-box;
    .weui_search_input {
        width: 100%;
        height: 28px;
        border: 0;
        background: transparent;
        font-size: 14px;
        &:focus {
            outline: none;
        }
    }
    .weui_icon_clear {
        position: absolute;
        top: 1px;
        right: 10px;
        &:before{
            font-size: 16px;
        }
    }
}
.left_icon{
    position: absolute;
    left: 10px;
    top:1px;
}
.weui_search_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-top: 2px;
    width: 99%;
    line-height: 1;
    box-sizing: border-box;
    font-size: 0;
    text-align: center;
    color: #9b9b9b;
    background: #fff;
    span{
        font-size: 14px;
        vertical-align: middle;
    }
    .weui_icon_search {
        display:inline-block;
        vertical-align: middle;
        margin-right: 3px;
        margin-top: -2px;
    }
}
.weui_search_input:focus ~ label{
    display: none;
}
.weui_search_input:not(:valid) ~ .weui_icon_clear {
    display: none;
}

//干掉input[search]默认的clear button
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }