@import "fn";

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.vt {
    vertical-align: top;
}

.vm {
    vertical-align: middle;
}

.vb {
    vertical-align: bottom;
}

.f0 {
    font-size: 0;
}

.thin {
    font-weight: 400;
}

.b {
    font-weight: 700;
}

.tdn {
    text-decoration: none;
}

.poi {
    cursor: pointer;
}

.dib {
    display: inline-block;
}

.db {
    display: block;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.oh {
    overflow: hidden;
}

.l {
    float: left;
}

.r {
    float: right;
}

.cl {
    clear: both;
}

.group:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
