@import "../../../../style/base/fn";

.weui_vcode {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    .weui_vimg_wrp {
        font-size: 0; // 去掉img下的一些空白
        img {
            height: 43px;
        }
    }
}