<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Badge</h1>
        <p class="page__desc">徽章</p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">小红点</div>
                <div class="weui-cell__ft">
                    <div class="weui-badge-box">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" style="width:24px;display:block" />
                        <span class="weui-badge weui-badge_dot"></span>
                    </div>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">一位数</div>
                <div class="weui-cell__ft badge-demo__f0">
                    <span class="weui-badge">8</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">多位数</div>
                <div class="weui-cell__ft badge-demo__f0">
                    <span class="weui-badge">99</span>
                </div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span class="badge-demo__text">未读消息</span>
                    <span class="weui-badge">1</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>