<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Badge</h1>
        <p class="page__desc">徽章</p>
    </div>
    <div class="page__bd">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">小红点</div>
                <div class="weui-cell__ft">
                    <span class="weui-badge weui-badge_dot"></span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">1位数</div>
                <div class="weui-cell__ft">
                    <span class="weui-badge">8</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">多位数</div>
                <div class="weui-cell__ft">
                    <span class="weui-badge">99</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>