<div class="page">
    <div class="hd">
        <h1 class="page_title">Card</h1>
    </div>
    <div class="bd">
        <div class="weui_card weui_card_access">
            <div class="weui_card_hd">weui card title</div>
            <div class="weui_card_bd">
                <div class="weui_media_box weui_media_appmsg">
                    <img class="weui_media_hd" src="./snapshot/qrcode.png" alt="">
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">weui media title</h4>
                        <p class="weui_media_desc">weui media desc</p>
                    </div>
                </div>
                <div class="weui_media_box weui_media_appmsg">
                    <img class="weui_media_hd" src="./snapshot/qrcode.png" alt="">
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">weui media title</h4>
                        <p class="weui_media_desc">weui media desc</p>
                    </div>
                </div>
            </div>
            <div class="weui_card_ft">weui card foot</div>
        </div>
        <div class="weui_card">
            <div class="weui_card_hd">weui card title</div>
            <div class="weui_card_bd">
                <div class="weui_media_box weui_media_img">
                    <img src="./snapshot/qrcode.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>