<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Grid</h1>
        <p class="page__desc">九宫格</p>
    </div>
    <div class="weui-grids">
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
    </div>
</div>