<div class="page">
    <div class="hd">
        <h1 class="page_title">WeUI</h1>
        <p class="page_desc">为微信Web服务量身设计</p>
    </div>
    <div class="bd">
        <div class="weui_cells weui_cells_access global_navs">
            <a class="weui_cell js_cell" href="javascript:;" data-id="button">
                <span class="weui_cell_hd"><img src="./images/icon_nav_button.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Button</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;" data-id="cell">
                <span class="weui_cell_hd"><img src="./images/icon_nav_cell.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Cell</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;" data-id="toast">
                <span class="weui_cell_hd"><img src="./images/icon_nav_toast.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Toast</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;" data-id="dialog">
                <span class="weui_cell_hd"><img src="./images/icon_nav_dialog.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Dialog</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;" data-id="progress">
                <span class="weui_cell_hd"><img src="./images/icon_nav_button.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Progress</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;" data-id="msg">
                <span class="weui_cell_hd"><img src="./images/icon_nav_msg.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Msg Page</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;" data-id="article">
                <span class="weui_cell_hd"><img src="./images/icon_nav_article.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Article Page</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;" data-id="actionsheet">
                <span class="weui_cell_hd"><img src="./images/icon_nav_actionSheet.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>ActionSheet</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_cell" href="javascript:;" data-id="icons">
                <span class="weui_cell_hd"><img src="./images/icon_nav_icons.png" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Icons</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        </div>
    </div>
</div>