<div class="page">
    <div class="hd">
        <h1 class="page_title">WeUI</h1>
        <p class="page_desc">为微信Web服务量身设计</p>
    </div>
    <div class="bd">
        <div class="weui_grids">
            <a href="javascript:;" class="weui_grid js_grid" data-id="button">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_button.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Button
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="cell">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_cell.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Cell
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="toast">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_toast.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Toast
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="dialog">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_dialog.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Dialog
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="progress">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_progress.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Progress
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="msg">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Msg
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="article">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_article.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Article
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="actionsheet">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_actionSheet.png" alt="">
                </div>
                <p class="weui_grid_label">
                    ActionSheet
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="icons">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_icons.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Icons
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="panel">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_panel.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Panel
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="tab">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_tab.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Tab
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid" data-id="searchbar">
                <div class="weui_grid_icon">
                    <img src="./images/icon_nav_search_bar.png" alt="">
                </div>
                <p class="weui_grid_label">
                    SearchBar
                </p>
            </a>
        </div>
    </div>
</div>