<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Icons Svg</h1>
        <p class="page__desc">图标svg</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="icon-box">
            <i class="weui-icon-success weui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">成功</h3>
                <p class="icon-box__desc">用于表示操作顺利达成</p>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>
