<div class="page">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_navbar">
                <div class="weui_navbar_item weui_bar_item_on">
                    选项一
                </div>
                <div class="weui_navbar_item">
                    选项二
                </div>
                <div class="weui_navbar_item">
                    选项三
                </div>
            </div>
            <div class="weui_tab_bd">

            </div>
        </div>
    </div>
</div>