<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Picker</h1>
        <p class="page__desc">多列选择器</p>
    </div>
    <div class="page__bd">
        <div class="weui-mask"></div>
        <div class="weui-picker">
            <div class="weui-picker__hd">
                <a href="javascript:;" class="weui-picker__action">取消</a>
                <a href="javascript:;" class="weui-picker__action">确定</a>
            </div>
            <div class="weui-picker__bd">
                <div class="weui-picker__group">
                    <div class="weui-picker__mask"></div>
                    <div class="weui-picker__indicator"></div>
                    <div class="weui-picker__content">
                        <div class="weui-picker__item">飞机票</div>
                        <div class="weui-picker__item">火车票</div>
                        <div class="weui-picker__item">的士票</div>
                        <div class="weui-picker__item">住宿费</div>
                        <div class="weui-picker__item">礼品费</div>
                        <div class="weui-picker__item">活动费</div>
                        <div class="weui-picker__item">通讯费</div>
                        <div class="weui-picker__item">补助</div>
                        <div class="weui-picker__item">其他</div>
                    </div>
                </div>
                <div class="weui-picker__group">
                    <div class="weui-picker__mask"></div>
                    <div class="weui-picker__indicator"></div>
                    <div class="weui-picker__content">
                        <div class="weui-picker__item">飞机票</div>
                        <div class="weui-picker__item">火车票</div>
                        <div class="weui-picker__item">的士票</div>
                        <div class="weui-picker__item">住宿费</div>
                        <div class="weui-picker__item">礼品费</div>
                        <div class="weui-picker__item">活动费</div>
                        <div class="weui-picker__item">通讯费</div>
                        <div class="weui-picker__item">补助</div>
                        <div class="weui-picker__item">其他</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>