<div class="page">
    <div class="hd">
        <h1 class="page_title">searchBar</h1>
    </div>
    <div class="bd spacing">
        <a href="javascript:;" class="weui_btn weui_btn_primary">点击展现searchBar</a>
    </div>
    <div>
        <div class="weui_mask"></div>
        <div class="weui_search_bar">
            <div class="weui_search_outer">
                <div class="weui_search_border"></div>
                <div class="weui_search_inner" id="search_form">
                    <span class="weui_icon_search weui_search_icon"></span>
                    <input type="search" class="weui_search_input" id="weui_search_input" placeholder="搜索"/>
                    <label for="weui_search_input" class="weui_search_text"><span class="weui_icon_search"></span>搜索</label>
                </div>
            </div>
            <a href="javascript:" class="weui_search_cancel" id="weui_search_cancel">取消</a>
        </div>
    </div>
</div>