<div class="page">
    <div class="hd">
        <h1 class="page_title">searchBar</h1>
    </div>
    <div class="bd spacing">
        <a href="javascript:;" class="weui_btn weui_btn_primary">点击展现searchBar</a>
    </div>
    <div>
        <div class="weui_mask"></div>
        <div class="weui_search_bar">
            <form class="weui_search_outer">
                <div class="weui_search_outline"></div>
                <div class="weui_search_inner">
                    <span class="weui_icon_search left_icon"></span>
                    <input type="search" class="weui_search_input" id="weui_search_input" placeholder="搜索" required/>
                    <span class="weui_icon_clear" id="weui_search_clear"></span>
                    <label for="weui_search_input" class="weui_search_text">
                        <span class="weui_icon_search"></span>
                        <span>搜索</span>
                    </label>
                </div>
            </form>
            <a href="javascript:" class="weui_search_cancel" id="weui_search_cancel">取消</a>
        </div>
    </div>
</div>