<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Slider</h1>
        <p class="page__desc">滑块</p>
    </div>
    <div class="page__bd">
        <div class="weui-slider">
            <div class="weui-slider__inner">
                <div style="width: 0;" class="weui-slider__track"></div>
                <div style="left: 0;" class="weui-slider__handler"></div>
            </div>
        </div>
        <div class="weui-slider">
            <div class="weui-slider__inner">
                <div style="width: 50%;" class="weui-slider__track"></div>
                <div style="left: 50%;" class="weui-slider__handler"></div>
            </div>
            <div class="weui-slider__value">
                <span>50</span>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>