<div class="page">
    <div class="bd">
        <div class="weui_cells_title">Tab</div>
        <div class="weui_cells weui_cells_access">
            <a class="weui_cell js_tab" href="javascript:;" data-id="navbar">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>navbar</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell js_tab" href="javascript:;" data-id="tabbar">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>tabbar</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        </div>
    </div>
</div>