<div class="page">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_navbar">
                <div class="weui_navbar_item weui_navbar_item_active">
                    选项一
                </div>
                <div class="weui_navbar_item">
                    选项二
                </div>
                <div class="weui_navbar_item">
                    选项三
                </div>
            </div>
            <div class="weui_tab_bd">
                <article class="weui_article">
                    <h1>大标题</h1>
                    <section>
                        <h2 class="title">章标题</h2>
                        <section>
                            <h3>1.1 节标题</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute</p>
                        </section>
                        <section>
                            <h3>1.2 节标题</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </section>
                </article><article class="weui_article">
                    <h1>大标题</h1>
                    <section>
                        <h2 class="title">章标题</h2>
                        <section>
                            <h3>1.1 节标题</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute</p>
                        </section>
                        <section>
                            <h3>1.2 节标题</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </section>
                </article><article class="weui_article">
                    <h1>大标题</h1>
                    <section>
                        <h2 class="title">章标题</h2>
                        <section>
                            <h3>1.1 节标题</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute</p>
                        </section>
                        <section>
                            <h3>1.2 节标题</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </section>
                </article>
            </div>
            <!--<div class="weui_tabbar">-->
                <!--<a href="javascript:;" class="weui_tabbar_item">-->
                    <!--<div class="weui_tabbar_icon">-->
                        <!--<img src="./images/icon_nav_button.png" alt="">-->
                    <!--</div>-->
                    <!--<p class="weui_tabbar_label">微信</p>-->
                <!--</a>-->
                <!--<a href="javascript:;" class="weui_tabbar_item">-->
                    <!--<div class="weui_tabbar_icon">-->
                        <!--<img src="./images/icon_nav_msg.png" alt="">-->
                    <!--</div>-->
                    <!--<p class="weui_tabbar_label">通讯录</p>-->
                <!--</a>-->
                <!--<a href="javascript:;" class="weui_tabbar_item">-->
                    <!--<div class="weui_tabbar_icon">-->
                        <!--<img src="./images/icon_nav_article.png" alt="">-->
                    <!--</div>-->
                    <!--<p class="weui_tabbar_label">发现</p>-->
                <!--</a>-->
                <!--<a href="javascript:;" class="weui_tabbar_item">-->
                    <!--<div class="weui_tabbar_icon">-->
                        <!--<img src="./images/icon_nav_cell.png" alt="">-->
                    <!--</div>-->
                    <!--<p class="weui_tabbar_label">我</p>-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</div>