html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
    background-color: #FBF9FE;
}

.container {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    & > div {
        background-color: #FBF9FE;
    }
}

.hd {
    padding: 2em 0;
}

.page_title {
    text-align: center;
    font-size: 34px;
    color: #3CC51F;
    font-weight: 400;
    margin: 0 15%;
}

.page_desc {
    text-align: center;
    color: #888;
    font-size: 14px;
}

.bd {
    &.spacing {
        padding: 0 15px;
    }
}

.home {
    padding-bottom: 30px;
}

// button
.button {
    .page_title {
        color: #225FBA;
    }
    .bd {
        padding: 0 15px;
    }
    .button_sp_area {
        padding: 10px 0;
        width: 60%;
        margin: 0 auto;
        text-align: justify;
        text-justify: distribute-all-lines; /*ie6-9*/
        //text-align-last:justify;/* ie9*/
        //-moz-text-align-last:justify;/*ff*/
        //-webkit-text-align-last:justify;/*chrome 20+*/

        font-size: 0;
        &:after {
            display: inline-block;
            width: 100%;
            height: 0;
            font-size: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;
            content: ".";
        }
    }
}

// cell
.cell {
    .page_title {
        color: #225FBA;
    }
    .bd {
        padding-bottom: 30px;
    }
}

// toast
.toast {
    .bd {
        padding: 120px 15px 0;
    }
}

// dialog
.dialog {
    .bd {
        padding: 120px 15px 0;
    }
}

// msg page
.msg {
    background-color: #FFFFFF;
}

// panel page
.panel {
    .bd {
        padding-bottom: 20px;
    }
}

// article page
.article {
    background-color: #FFFFFF;
    .page_title {
        color: #DE7C23;
    }
}

// icons
.icons {
    background-color: #FFFFFF;
    text-align: center;
    .page_title {
        color: #3E24BD;
    }
    .bd {
        padding: 30px 0;
        text-align: center;
    }
    .icon_sp_area {
        padding: 10px 20px;
        text-align: left;
    }
    i {
        margin: 0 5px 10px;
    }
}

.tabbar {
    height: 100%;
}

//search bar
.search_show {
    display: none;
    margin-top: 0;
    font-size: 14px;
    .weui_cell_bd {
        padding: 2px 0 2px 20px;
        color: #666;
    }
}

// grid icon
.icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

.icon_button {
    background: url("./images/icon_nav_button.png") no-repeat;
    background-size: 28px 28px;
}

.icon_cell {
    background: url("./images/icon_nav_cell.png") no-repeat;
    background-size: 28px 28px;
}

.icon_toast {
    background: url("./images/icon_nav_toast.png") no-repeat;
    background-size: 28px 28px;
}

.icon_dialog {
    background: url("./images/icon_nav_dialog.png") no-repeat;
    background-size: 28px 28px;
}

.icon_progress {
    background: url("./images/icon_nav_progress.png") no-repeat;
    background-size: 28px 28px;
}

.icon_msg {
    background: url("./images/icon_nav_msg.png") no-repeat;
    background-size: 28px 28px;
}

.icon_article {
    background: url("./images/icon_nav_article.png") no-repeat;
    background-size: 28px 28px;
}

.icon_actionSheet {
    background: url("./images/icon_nav_actionSheet.png") no-repeat;
    background-size: 28px 28px;
}

.icon_icons {
    background: url("./images/icon_nav_icons.png") no-repeat;
    background-size: 28px 28px;
}

.icon_panel {
    background: url("./images/icon_nav_panel.png") no-repeat;
    background-size: 28px 28px;
}

.icon_tab {
    background: url("./images/icon_nav_tab.png") no-repeat;
    background-size: 28px 28px;
}

.icon_search_bar {
    background: url("./images/icon_nav_search_bar.png") no-repeat;
    background-size: 28px 28px;
}

@keyframes slideIn {
    from {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

.enter, .leave {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.enter {
    animation: slideIn .2s forwards;
}

.leave {
    animation: slideOut .25s forwards;
}